.header__component{
    .top-header {
        svg{
            color: $primary;
            margin-right: 6px;
        }
    }
    .middle-header{
        .branding{
            width: 100%;
            max-width: 120px;
        }
       
    }
    
}